@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body {
  background-color: grey;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

.jumbotron {
  text-align: center;
  color: black;
  font-weight: bold;
}

.container-fluid {
  text-align: center;
}

.container-fluid.btn {
  margin: 0 auto;
  float: right;
}

li {
  list-style-type: none;
}

h1 {
font-size: 60px;
}
